// reseteo de estilos del navegador
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
}

// Variables de mi proyecto
$color00:white;
$color01: rgb(60, 60, 60);
$color02: rgb(204, 74, 74);

