// reseteo de estilos del navegador
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

// Variables de mi proyecto
$color00:white;
$color01: rgb(60, 60, 60);
$color02: rgb(204, 74, 74);

$tablet: 600px;
$desktop: 1200px;



h1{
  background-color: aqua;
  color: $color00;
  font-family: monospace;
  font-size: clamp(1rem, 3vw, 3rem);
}

h2{
  color: $color02;
}

.boton{
    background-color: $color02;
    padding: 0.75rem 3rem;
    border-radius: 5px;
    color: $color00;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

