// reseteo de estilos del navegador
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

// doy de alta las fuentes en el proyecto
@font-face {
  font-family: 'NotoSans';
  src: url('./fonts/NotoSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
  font-family: 'PoiretOnes';
  src: url('./fonts/PoiretOne-Regular.ttf');
}

// Variables de mi proyecto
$color00:white;
$color01: rgb(60, 60, 60);
$color02: #cc4a4a;

$tablet: 600px;
$desktop: 1200px;

$fuenteTitulo:'PoiretOnes';
$fuenteTexto:'NotoSans';



h1{
  color: $color00;
  font-family: $fuenteTitulo;
  font-size: clamp(1rem, 3vw, 3rem);
}

h2{
  color: $color02;
  font-family: $fuenteTitulo;
}

.boton{
    background-color: $color02;
    padding: 0.75rem 3rem;
    border-radius: 5px;
    color: $color00;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a, p, span, li{
  font-family: $fuenteTexto;
}



