
@use './resources/_config' as c;

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    ::-webkit-scrollbar{
        display: none;
    }

    nav{
        background-color: red;
        width: 100%;
        height: 10dvh;
    }
    header{
        width: 100%;
        height: 90dvh;
        background-color: aqua;
        overflow-y: scroll;

        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;

        .caja{
            width: 100%;
            background-color: blueviolet;
            @media only screen and (min-width:900px){
                width: 45%;
            }
            @media only screen and (min-width:1400px){
                width: 18%;
            }
        }
    }
}
